body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #1a1a1a;
    font-size: 16px;
}

h1 {
    margin: 0;
    color: #1a1a1a;
}

input:focus {
    outline: none !important;
}

.details {
    flex: 1;
}

.context-menu {
    width: 20%;
}

.table {
    cursor: pointer;
    font-size: 1rem;
}

table,
table>thead,
table>tbody,
table>thead>tr,
table>thead>tr>th,
table>tbody>td {
    display: block;
}

table>thead>tr:after,
table>tbody>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table>tbody {
    /*overflow-y: scroll;
    height: 200px;*/
}

table>tbody>tr {
    display: flex;
}

table>thead {
    overflow-y: scroll;
}

table>thead::-webkit-scrollbar {
    background-color: inherit;
}

table>thead>tr>th:after,
table>tbody>tr>td:after {
    content: ' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
}

table>thead tr th,
table>tbody tr td {
    float: left;
    word-wrap: break-word;
}

.form-control {
    padding: .2rem .4rem;
    font-size: .75rem;
    font-weight: normal;
}

.active-link {
    color: #141c25 !important;
    font-weight: bold;
    margin-left: 1rem !important;
    border-left: 4px solid #141c25;
    transition: margin-left 200ms ease-out
}

.rw-dropdown-list-input,
.rw-list-option,
.rw-input,
.rw-filter-input {
    font-size: .75rem;
    color: #2C3E50 !important;
}

.react-datepicker,
.react-datepicker__day,
.react-datepicker__day--selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
    font-size: .75rem;
    margin: .1rem;
}

.custom-control.custom-checkbox {
    margin-bottom: -2px !important;
}

.custom-control.custom-radio {
    margin-bottom: -2px !important;
}


/* CSSTransitions for list */

.list-enter {
    height: 0;
    opacity: 0;
}

.list-enter.list-enter-active {
    height: 260px;
    opacity: 1;
    transition: all 500ms ease-in;
}

.list-leave {
    height: 260px;
    opacity: 1;
}

.list-leave.list-leave-active {
    height: 0;
    opacity: 0;
    transition: all 300ms ease-in;
}